.title {
  display: inline-block;
  font-family: Itim;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #F91E1E 0%, #FD9B29 7.81%, #C5DA43 21.35%, #85EE1D 33.85%, #3BF34E 45.83%, #54F2AF 56.25%, #4F88F7 66.67%, #5A35ED 74.48%, #A837EE 84.9%, #E53BE9 90.63%, #FE005C 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float: left;
  cursor: pointer;
  margin: 10px;
}

.direct {
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: Itim;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  float: right;
  margin: 20px;
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: white;
  color: black;
  margin: 10px;
  cursor: pointer;
}
.icon img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.textEnglish {
  color: black;
  font-family: Itim;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.textKorean {
  color: black;
  font-size: 30px;
  text-align: center;
}

.specialBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(224, 85, 210, 0.80) 0%, rgba(234, 168, 70, 0.80) 100%);
  color: white;
  text-align: center;
  font-family: Itim;
  cursor: pointer;
}
.specialBtn:hover {
  background: linear-gradient(90deg, rgba(224, 85, 210, 0.80) 0%, rgba(234, 168, 70, 0.80) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  border-radius: 10px;
  border: 2px solid rgba(224, 85, 210, 0.80);
}

.naverInput {
  border-radius: 5px;
  border: 2px solid #42F092;
  background: rgba(217, 217, 217, 0.00);
  width: 850px;
  height: 50px;
}
.naverInput:focus {
  border: 2px solid #42F092;
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.00);
  width: 850px;
  height: 50px;
}