.slideImg {
  width: 100vw;
  float: left;
}
.slideImg img {
  width: 100%;
}

.scrollDownContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 100px;
  opacity: 0;
  transition: all 0.5s;
}

.circleImage {
  cursor: pointer;
  transition: all 0.5s;
  display: inline-block;
}

.pageLink {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #121212;
  color: white;
  font-family: Itim;
  width: 400px;
  height: 70px;
}
.pageLink:hover {
  background: #222;
}