.slideImg {
  width: 100vw;
  float: left;
}
.slideImg img {
  width: 100%;
}

.scrollDownContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 100px;
  opacity: 0;
  transition: all 0.5s;
}

.circleWrapper {
  display: inline-block;
  margin: 0 auto;
  padding: 30px;
  max-width: 1170px;
}
.circle {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}
.circle:hover {
  width: 400px;
  height: 400px;
}
.circle img {
  width: 100%;
  height: 100%;
}

.pageLink {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #121212;
  color: white;
  font-family: Itim;
  width: 400px;
  height: 70px;
}
.pageLink:hover {
  background: #222;
}